<a href="https://colab.research.google.com/github/akajammythakkar/python-basics/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python Basics

### Input/Output examples

In [2]:
print("Hello, World!")
name = input("What is your name? ")
print(f"Nice to meet you, {name}!")
age = int(input("What is your age? "))
print(f"You are {age} years old.")

Hello, World!
What is your name? Jay Thakkar
Nice to meet you, Jay Thakkar!
What is your age? 23
You are {age} years old.

In [3]:
name = input("What is your name? ")
print(f"Nice to meet you, {name}!")

What is your name? Jay Thakkar
Nice to meet you, Jay Thakkar!

In [5]:
age = int(input("What is your age? "))
print(f"You are {age} years old.")

What is your age? 23
You are 23 years old.

#### Comment examples

In [ ]:
# This is a single-line comment

# C Language and Java language
# '//' to comment and java
# '/* Multi Line Comment */'

"""
This is a
multi-line comment
"""

print("HI") # This way we comment

# Print Hi (in this way also we can comment)
print("Hi")

HI
Hi

#### Variable examples

In [6]:
# # C and Java
# int a = 10
# int b = 2-0

x = 10 # int
y = 3.14 # float
print(y) # Float
name = "Alice" # String
is_student = True # Boolean
count = 0 # int
total = 0.0 # float
message = "" # empty string
flag = False # Boolean
y = "TFUG" # String
print(y) # String

3.14
TFUG

#### Data type examples

In [13]:
integer = 42
float_num = 3.14
complex_num = 3 + 4j
string = "Hello, Python!"
boolean = True
list_example = [1, 2, 3, 4, 5]
tuple_example = (1, 2, 3, 4, 5)
set_example = {1, 2,6, 3, 4, 5, 5, 5}
print(f"Set Example: {set_example}")
# print(f"Set Example: {set_examplee}")
dict_example = {"name": "Alice", "age": 25, "name": ["TFUG","Machine Learning"]}
# dict_example["tfug"] = "Aurangabad/Sambajinagar"
print(dict_example)

Set Example: {1, 2, 3, 4, 5, 6}
{'name': ['TFUG', 'Machine Learning'], 'age': 25}

#### Typecasting examples

In [20]:
int_from_float = int(3.98)
print(f"type of 3.14 before type casting {type(3.14)} and after: {type(int_from_float)} and value is {int_from_float}")
float_from_int = float(42)
print(f"type of 42 before type casting {type(42)} and after: {type(float_from_int)} and value is {float_from_int}")
str_from_int = str(123)
print(f"type of 42 before type casting {type(123)} and after: {type(str_from_int)} and value is {str_from_int}")
int_from_str = int("456")
float_from_str = float("3.14")
bool_from_str = bool("True")
print(f"type of 42 before type casting {type('True')} and after: {type(bool_from_str)} and value is {bool_from_str}")

type of 3.14 before type casting <class 'float'> and after: <class 'int'> and value is 3
type of 42 before type casting <class 'int'> and after: <class 'float'> and value is 42.0
type of 42 before type casting <class 'int'> and after: <class 'str'> and value is 123
type of 42 before type casting <class 'str'> and after: <class 'bool'> and value is True

#### More data type examples

In [ ]:
list_of_strings = ["apple", "banana", "cherry"]
tuple_of_tuples = ((1, 2), (3, 4), (5, 6))
set_of_tuples = {(1, 2), (3, 4), (5, 6)}
dict_of_lists = {"fruits": ["apple", "banana"], "vegetables": ["carrot", "spinach"]}

#### More typecasting examples

In [ ]:
int_from_bool = int(True)
float_from_bool = float(False)
str_from_list = str([1, 2, 3])
list_from_str = list("Python")
tuple_from_list = tuple([1, 2, 3])
set_from_list = set([1, 2, 3, 2, 1])